<div class="landing">

    
    <div class="landing-texts">
        <h3 >
            GitHub <span>Users</span> and <span>Repositories</span> Search <span>Application</span>.
        </h3>
        
        <h6>This is an application that shows you specific users and their repositories on seaching their name</h6>
    </div>
    <br>

<div class="d-flex bd-highlight images">
    <div class="p-2 flex-fill bd-highlight"><div class="image1">
        <img id="im1"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT58aurhsCLVEX0ZkxPRHqZhkja2KAiP48rA&usqp=CAU" alt="github url">
        <h4>Awesome github Api</h4>
    </div></div>
    <div class="p-2 flex-fill bd-highlight"><div class="image2">
        <img id="im1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfPdU_lHQdbZCkNA9Afh6fC8DI0QWU29Ne0w&usqp=CAU" alt="developer">
        <h4>Reasearch in developement</h4>
    </div></div>
    <div class="p-2 flex-fill bd-highlight">
        <img id="im1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_OkiE-JNtX-peEg6UZYLmBiuvnzdw81_1XA&usqp=CAU alt=" alt="developer">
        <h4>Quality and Scalable Product</h4>
    </div>
  </div>
<div class="bottom">
    <h1>The Best Ahed of the Rest</h1>
</div>
  

</div>

